body{background-image: url("../image/bgimage.jpg");background-repeat: no-repeat}
#table{width: 500px;height: 500px;border: 1px solid;margin: 2% 30% auto;}
#btn{margin: 40% 38% auto;}
td{height: 40px;}
